backend/workflows/invoice-extract-row.workflow.json
{
  "id": "LmdFhorOYBoJgXGl",
  "name": "Invoice Extract Row",
  "active": false,
  "description": "Single-row re-run: accepts { driveLink, googleAccessToken } via POST, downloads the Drive file, runs OpenRouter google/gemini-2.5-flash extraction, returns { payee, accountNumber, ifsc, confidence, status } as JSON.",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "nodes": [
    {
      "id": "aec4a514-f9b7-4dca-a649-a1919f8a4ab6",
      "name": "Receive Row Re-run",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        192
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-row",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "a8df3293-4700-4a3a-b29c-f42f3e7eed77"
    },
    {
      "id": "3d826c22-8ed4-4c00-955d-3f5671260c5d",
      "name": "Parse Request Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst body = $json.body || $json;\nconst driveLink = body.driveLink || '';\nconst token = body.googleAccessToken || '';\nif (!driveLink) throw new Error('driveLink is required');\nif (!token) throw new Error('googleAccessToken is required');\nconst m1 = driveLink.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\nconst m2 = driveLink.match(/[?&]id=([a-zA-Z0-9_-]+)/);\nconst fileId = (m1 && m1[1]) || (m2 && m2[1]) || '';\nif (!fileId) throw new Error('Could not parse Drive file ID from: ' + driveLink);\nreturn { json: { driveLink, token, fileId } };\n"
      }
    },
    {
      "id": "144fb864-2034-4617-9d1e-492394b13053",
      "name": "Get Drive Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        192
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://www.googleapis.com/drive/v3/files/\" + $json.fileId + \"?fields=mimeType%2Cname\" }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "32bb781d-dafa-4d31-ae5d-60b53c93612c",
      "name": "Classify MimeType",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        192
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst meta = $json;\r\nconst row = $('Parse Request Body').item.json;\r\n\r\nif (meta.error) {\r\n  const code = meta.error.code || 0;\r\n  const status =\r\n    code === 401\r\n      ? 'Error: Google session expired — sign out and sign in again'\r\n      : 'Error: Drive file not accessible (check permissions)';\r\n  return {\r\n    json: { ...row, _mimeType: '', _fileName: '', _fileClass: 'error', _status: status, _downloadUrl: '' },\r\n  };\r\n}\r\n\r\nconst mime = meta.mimeType || '';\r\nconst fileId = row.fileId || '';\r\nlet fileClass = 'document';\r\nlet status = '';\r\nlet exportAsPdf = false;\r\n\r\nif (mime.startsWith('image/')) {\r\n  fileClass = 'image';\r\n} else if (mime.startsWith('application/vnd.google-apps.')) {\r\n  fileClass = 'document';\r\n  exportAsPdf = true;\r\n} else if (!mime) {\r\n  fileClass = 'error';\r\n  status = 'Error: Drive file not accessible (check permissions)';\r\n} else {\r\n  fileClass = 'document';\r\n}\r\n\r\nlet downloadUrl = '';\r\nif (fileId && fileClass !== 'error') {\r\n  downloadUrl = exportAsPdf\r\n    ? `https://www.googleapis.com/drive/v3/files/${fileId}/export?mimeType=application%2Fpdf`\r\n    : `https://www.googleapis.com/drive/v3/files/${fileId}?alt=media`;\r\n}\r\n\r\nreturn {\r\n  json: {\r\n    ...row,\r\n    _mimeType: mime,\r\n    _fileName: meta.name || '',\r\n    _fileClass: fileClass,\r\n    _status: status,\r\n    _downloadUrl: downloadUrl,\r\n  },\r\n};\n"
      }
    },
    {
      "id": "119f8aab-5e9f-4aab-a05e-1cde4691be79",
      "name": "Is Extractable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        192
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._fileClass === \"document\" || $json._fileClass === \"image\" }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "be19eba0-8bdc-472d-9a73-858a8487756c",
      "name": "Download Invoice File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        96
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json._downloadUrl }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "invoiceFile"
            }
          }
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "5e271c73-14a7-4550-b4d9-e87cc6307d2b",
      "name": "Restore Row After Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        96
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst OFFICE_DOC_MIMES = new Set([\r\n  'application/msword',\r\n  'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\r\n]);\r\n\r\nfunction isOfficeDocMime(mime, fileName) {\r\n  return OFFICE_DOC_MIMES.has(mime) || /\\.docx?$/i.test(fileName || '');\r\n}\r\n\r\nfunction getDriveCredentials(row) {\r\n  return {\r\n    fileId: row._fileId || row.fileId || '',\r\n    token: row._token || row.token || '',\r\n  };\r\n}\r\n\r\nasync function convertOfficeDocToPdf(fileId, token, fileName) {\r\n  let copyId = '';\r\n  try {\r\n    const copy = await this.helpers.httpRequest({\r\n      method: 'POST',\r\n      url: `https://www.googleapis.com/drive/v3/files/${fileId}/copy`,\r\n      headers: {\r\n        Authorization: `Bearer ${token}`,\r\n        'Content-Type': 'application/json',\r\n      },\r\n      body: {\r\n        mimeType: 'application/vnd.google-apps.document',\r\n        name: `__ledgerlens_convert_${fileId}`,\r\n      },\r\n      json: true,\r\n    });\r\n    copyId = copy.id;\r\n\r\n    const pdfBuffer = await this.helpers.httpRequest({\r\n      method: 'GET',\r\n      url: `https://www.googleapis.com/drive/v3/files/${copyId}/export?mimeType=application/pdf`,\r\n      headers: { Authorization: `Bearer ${token}` },\r\n      encoding: 'arraybuffer',\r\n    });\r\n\r\n    const pdfName = (fileName || 'invoice').replace(/\\.[^.]+$/i, '') + '.pdf';\r\n    return await this.helpers.prepareBinaryData(pdfBuffer, pdfName, 'application/pdf');\r\n  } finally {\r\n    if (copyId && token) {\r\n      try {\r\n        await this.helpers.httpRequest({\r\n          method: 'DELETE',\r\n          url: `https://www.googleapis.com/drive/v3/files/${copyId}`,\r\n          headers: { Authorization: `Bearer ${token}` },\r\n        });\r\n      } catch (_) {}\r\n    }\r\n  }\r\n}\r\n\r\nconst row = $('Classify MimeType').item.json;\r\nconst binData = $binary?.invoiceFile || null;\r\n\r\nif (!binData) {\r\n  return {\r\n    json: {\r\n      ...row,\r\n      _status: 'Error: file download failed (check Drive permissions)',\r\n      _downloadFailed: true,\r\n    },\r\n  };\r\n}\r\n\r\nconst mime = row._mimeType || binData.mimeType || '';\r\nconst fileName = row._fileName || binData.fileName || '';\r\n\r\nif (!isOfficeDocMime(mime, fileName)) {\r\n  return { json: { ...row, _downloadFailed: false }, binary: { invoiceFile: binData } };\r\n}\r\n\r\nconst { fileId, token } = getDriveCredentials(row);\r\nif (!fileId || !token) {\r\n  return {\r\n    json: {\r\n      ...row,\r\n      _status: 'Error: missing Drive file ID or token for DOC/DOCX conversion',\r\n      _downloadFailed: true,\r\n    },\r\n  };\r\n}\r\n\r\ntry {\r\n  const pdfBinary = await convertOfficeDocToPdf.call(this, fileId, token, fileName);\r\n  return {\r\n    json: {\r\n      ...row,\r\n      _downloadFailed: false,\r\n      _geminiMimeType: 'application/pdf',\r\n      _convertedFromOffice: true,\r\n    },\r\n    binary: { invoiceFile: pdfBinary },\r\n  };\r\n} catch (e) {\r\n  const msg = String(e.message || e);\r\n  const needsReauth = /403|401|insufficient|permission|scope/i.test(msg);\r\n  return {\r\n    json: {\r\n      ...row,\r\n      _status: needsReauth\r\n        ? 'Error: DOC/DOCX conversion needs Drive write access — sign out and sign in again'\r\n        : 'Error: could not convert DOC/DOCX to PDF — ' + msg,\r\n      _downloadFailed: true,\r\n    },\r\n  };\r\n}\n"
      }
    },
    {
      "id": "34b74c0b-ecc9-4e32-9e56-3018a4491f9a",
      "name": "Is Image File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        96
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._fileClass }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "image"
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "1212daa3-3547-47c4-bce5-dd3f523ff4b0",
      "name": "OpenRouter Analyze Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst OPENROUTER_MODEL = 'google/gemini-2.5-flash';\r\n\r\nconst OPENROUTER_REQUEST_OPTIONS = {\r\n  model: OPENROUTER_MODEL,\r\n  max_tokens: 1024,\r\n  response_format: { type: 'json_object' },\r\n  // Disable reasoning for direct JSON extraction.\r\n  reasoning: { effort: 'none' },\r\n};\r\n\r\nconst EXTRACTION_PROMPT = `You are reading an invoice document. Extract ONLY these five fields and return valid JSON with no prose, no markdown, no code fences:\r\n\r\n{\"payee\":\"string\",\"account_number\":\"string\",\"ifsc\":\"string\",\"amount\":\"string\",\"currency\":\"string\",\"confidence\":0.0}\r\n\r\nRules:\r\n- payee: the account payee or beneficiary name exactly as printed on THIS invoice\r\n- account_number: digits only, no spaces or dashes — copy exactly from the document\r\n- ifsc: exactly 11 characters, uppercase, copied from the document (format: 4 letters + 0 + 6 alphanumeric)\r\n- amount: invoice total or grand total numeric value only (digits and decimal point, no currency symbols or commas)\r\n- currency: the invoice currency exactly as shown — ISO code when printed (USD, INR, EUR) or symbol ($, ₹, €). Examples: \"USD\", \"INR\", \"$\", \"₹\"\r\n- confidence: 0.0 to 1.0 — use 0.0 if you cannot read the document clearly\r\n- If a field is missing or unreadable, use \"\" and set confidence below 0.5\r\n- NEVER invent, guess, or reuse placeholder values — only copy text visible on the invoice`;\r\n\r\nconst row = $('Restore Row After Download').item.json;\r\n\r\nfunction checksumHex(buffer) {\r\n  let hash = 2166136261;\r\n  for (const byte of buffer) {\r\n    hash ^= byte;\r\n    hash = Math.imul(hash, 16777619);\r\n  }\r\n  return (hash >>> 0).toString(16);\r\n}\r\n\r\nfunction debugLog(hypothesisId, location, message, data) {\r\n  // #region agent log\r\n  if (typeof fetch === 'function') {\r\n    fetch('http://127.0.0.1:7278/ingest/2c22404a-379e-4acd-837f-babf35680249',{method:'POST',headers:{'Content-Type':'application/json','X-Debug-Session-Id':'86ecbf'},body:JSON.stringify({sessionId:'86ecbf',runId:'exec107-investigation',hypothesisId,location,message,data,timestamp:Date.now()})}).catch(()=>{});\r\n  }\r\n  // #endregion\r\n}\r\n\r\nif (row._downloadFailed) {\r\n  return { json: { error: row._status || 'Invoice file unavailable', _skipOpenRouter: true } };\r\n}\r\n\r\nif (row._officeDocText) {\r\n  const _openRouterBody = {\r\n    ...OPENROUTER_REQUEST_OPTIONS,\r\n    messages: [\r\n      {\r\n        role: 'user',\r\n        content:\r\n          EXTRACTION_PROMPT +\r\n          '\\n\\n--- Invoice document text ---\\n' +\r\n          row._officeDocText,\r\n      },\r\n    ],\r\n  };\r\n  return {\r\n    json: {\r\n      _openRouterBody,\r\n      _openRouterModel: OPENROUTER_MODEL,\r\n      _prepareMime: 'text/plain',\r\n      _prepareIdx: row._idx,\r\n      _prepareMode: 'text',\r\n    },\r\n  };\r\n}\r\n\r\nconst bin = $input.item.binary?.invoiceFile || $binary?.invoiceFile || null;\r\nif (!bin) {\r\n  return { json: { error: 'No invoice file binary found for OpenRouter analysis' } };\r\n}\r\n\r\nconst itemIndex = typeof $itemIndex === 'number' ? $itemIndex : 0;\r\nconst buffer = await this.helpers.getBinaryDataBuffer(itemIndex, 'invoiceFile');\r\nconst base64 = Buffer.from(buffer).toString('base64');\r\nconst fileChecksum = checksumHex(buffer);\r\n\r\nlet mime = row._geminiMimeType || row._mimeType || bin.mimeType || 'application/octet-stream';\r\n\r\nif (mime === 'application/octet-stream' && row._fileClass === 'image') {\r\n  mime = 'image/jpeg';\r\n}\r\n\r\nconst dataUrl = `data:${mime};base64,${base64}`;\r\n\r\ndebugLog('H1', 'prepareOpenRouterPayload.js:post-binary', 'Prepared binary for OpenRouter', {\r\n  idx: row._idx,\r\n  fileId: row._fileId || '',\r\n  fileName: row._fileName || bin.fileName || '',\r\n  convertedFromOffice: !!row._convertedFromOffice,\r\n  mime,\r\n  byteLength: buffer.length,\r\n  fileChecksum,\r\n});\r\n\r\nfunction buildVisionContent(prompt) {\r\n  if (mime === 'application/pdf') {\r\n    return [\r\n      {\r\n        type: 'file',\r\n        file: {\r\n          filename: row._fileName || bin.fileName || 'invoice.pdf',\r\n          file_data: dataUrl,\r\n        },\r\n      },\r\n      { type: 'text', text: prompt },\r\n    ];\r\n  }\r\n\r\n  return [\r\n    {\r\n      type: 'image_url',\r\n      image_url: { url: dataUrl },\r\n    },\r\n    { type: 'text', text: prompt },\r\n  ];\r\n}\r\n\r\nconst _openRouterBody = {\r\n  ...OPENROUTER_REQUEST_OPTIONS,\r\n  messages: [\r\n    {\r\n      role: 'user',\r\n      content: buildVisionContent(EXTRACTION_PROMPT),\r\n    },\r\n  ],\r\n};\r\n\r\ndebugLog('H2', 'prepareOpenRouterPayload.js:payload-shape', 'Built OpenRouter request payload', {\r\n  idx: row._idx,\r\n  mode: 'vision',\r\n  mime,\r\n  contentType: mime === 'application/pdf' ? 'file+text' : 'image_url+text',\r\n  fileChecksum,\r\n});\r\n\r\nreturn {\r\n  json: {\r\n    _openRouterBody,\r\n    _openRouterModel: OPENROUTER_MODEL,\r\n    _prepareMime: mime,\r\n    _prepareIdx: row._idx,\r\n    _prepareMode: 'vision',\r\n    _prepareFileId: row._fileId || '',\r\n    _prepareByteLength: buffer.length,\r\n    _prepareFileChecksum: fileChecksum,\r\n  },\r\n};\n"
      },
      "credentials": {}
    },
    {
      "id": "b7eac053-8e83-4dcd-99c7-e42531fff7c8",
      "name": "Parse Image Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst IFSC_REGEX = /^[A-Z]{4}0[A-Z0-9]{6}$/;\n\nfunction extractRawModelText(data) {\n  if (!data) return '';\n  if (typeof data.text === 'string') return data.text;\n  if (typeof data.output === 'string') return data.output;\n  if (typeof data.content === 'string') return data.content;\n  const openAiContent = data.choices?.[0]?.message?.content;\n  if (typeof openAiContent === 'string') return openAiContent;\n  if (Array.isArray(openAiContent)) {\n    return openAiContent\n      .filter((part) => part?.type === 'text' && typeof part.text === 'string')\n      .map((part) => part.text)\n      .join('');\n  }\n  const openAiText = data.choices?.[0]?.text;\n  if (typeof openAiText === 'string') return openAiText;\n  const messageContent = data.message?.content;\n  if (typeof messageContent === 'string') return messageContent;\n  const partText = data.content?.parts?.[0]?.text;\n  if (typeof partText === 'string') return partText;\n  return '';\n}\n\nfunction normalizeAmount(val) {\n  const s = String(val ?? '').trim();\n  if (!s) return '';\n  return s.replace(/[^\\d.]/g, '');\n}\n\nfunction normalizeCurrency(val) {\n  const s = String(val ?? '').trim();\n  if (!s) return '';\n  if (/^[A-Za-z]{3}$/.test(s)) return s.toUpperCase();\n  return s;\n}\n\nfunction normalizeConfidence(raw, payee, acct, ifsc, amount) {\n  if (typeof raw === 'number' && raw > 0) return Math.min(1, raw);\n  const filled = [payee, acct, ifsc, amount].filter(Boolean).length;\n  if (filled === 0) return 0;\n  return Math.min(0.95, 0.45 + filled * 0.12);\n}\n\nfunction normalizeExtractionFields(p) {\n  return {\n    payee: String(p.payee ?? p.account_name ?? p.beneficiary ?? p.account_payee ?? '').trim(),\n    account_number: String(\n      p.account_number ??\n        p.accountNumber ??\n        p.bank_number ??\n        p.bank_account_number ??\n        p.bank_account ??\n        ''\n    ).replace(/\\D/g, ''),\n    ifsc: String(p.ifsc ?? p.IFSC ?? p.ifsc_code ?? '').toUpperCase().trim(),\n    amount: normalizeAmount(\n      p.amount ?? p.total ?? p.total_amount ?? p.invoice_amount ?? p.invoice_total\n    ),\n    currency: normalizeCurrency(\n      p.currency ?? p.currency_code ?? p.currencyCode ?? p.invoice_currency\n    ),\n    confidence: typeof p.confidence === 'number' ? p.confidence : 0,\n  };\n}\n\nfunction hasExtractionFields(data) {\n  if (!data || typeof data !== 'object') return false;\n  return (\n    data.payee !== undefined ||\n    data.account_name !== undefined ||\n    data.beneficiary !== undefined ||\n    data.account_number !== undefined ||\n    data.accountNumber !== undefined ||\n    data.bank_account_number !== undefined ||\n    data.ifsc !== undefined ||\n    data.IFSC !== undefined ||\n    data.amount !== undefined ||\n    data.total !== undefined ||\n    data.currency !== undefined ||\n    data.currency_code !== undefined\n  );\n}\n\nfunction parseExtractionPayload(data) {\n  if (hasExtractionFields(data)) {\n    return normalizeExtractionFields(data);\n  }\n  const raw = extractRawModelText(data);\n  if (!raw) return null;\n  const cleaned = raw.replace(/```json?\\n?/gi, '').replace(/```/g, '').trim();\n  try {\n    return normalizeExtractionFields(JSON.parse(cleaned));\n  } catch (_) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return null;\n    return normalizeExtractionFields(JSON.parse(match[0]));\n  }\n}\n\nfunction detectHallucination(payee, acct, ifsc) {\n  if (acct.length >= 10 && /^(\\d)\\1+$/.test(acct)) return 'repeated-digit account number';\n  if (ifsc && !IFSC_REGEX.test(ifsc)) return 'invalid IFSC format';\n  return '';\n}\n\nfunction finalizeExtraction(p) {\n  const payee = p.payee;\n  const acct = p.account_number;\n  const ifsc = p.ifsc;\n  const amount = p.amount;\n  const currency = p.currency;\n  const confidence = normalizeConfidence(p.confidence, payee, acct, ifsc, amount);\n  return { payee, acct, ifsc, amount, currency, confidence };\n}\n\nconst row = $('Restore Row After Download').item.json;\r\n\r\nfunction buildResult({ payee = '', accountNumber = '', ifsc = '', amount = '', currency = '', confidence = 0, status }) {\r\n  return { json: { payee, accountNumber, ifsc, amount, currency, confidence, status } };\r\n}\r\n\r\nif (row._downloadFailed) {\r\n  return buildResult({ status: row._status || 'Error: download failed' });\r\n}\r\n\r\nfunction formatError(err) {\r\n  if (err == null || err === '') return 'unknown error';\r\n  if (typeof err === 'string') return err;\r\n  return err.message || JSON.stringify(err);\r\n}\r\n\r\nfunction formatOpenRouterHttpError(err) {\r\n  const msg = formatError(err);\r\n  if (/too many requests|429|rate limit/i.test(msg)) {\r\n    return 'OpenRouter rate limit (429) — wait and retry, or switch off the free-tier model';\r\n  }\r\n  return msg;\r\n}\r\n\r\nfunction getPrepareError() {\r\n  const analyzeNode =\r\n    row._fileClass === 'image' ? 'OpenRouter Analyze Image' : 'OpenRouter Analyze Document';\r\n  try {\r\n    const prep = $(analyzeNode).item?.json;\r\n    if (prep?.error) return formatError(prep.error);\r\n  } catch (_) {}\r\n  return '';\r\n}\r\n\r\nconst prepareError = getPrepareError();\r\nif (prepareError) {\r\n  return buildResult({ status: 'Error: extraction analyze failed - ' + prepareError });\r\n}\r\n\r\nif ($json.error) {\r\n  return buildResult({ status: 'Error: extraction failed - ' + formatOpenRouterHttpError($json.error) });\r\n}\r\n\r\ntry {\r\n  const p = parseExtractionPayload($json);\r\n  if (!p) {\r\n    return buildResult({ status: 'Error: model returned empty extraction' });\r\n  }\r\n\r\n  if (p.error) {\r\n    return buildResult({ status: 'Error: extraction analyze failed - ' + p.error });\r\n  }\r\n\r\n  const { payee, acct, ifsc, amount, currency, confidence } = finalizeExtraction(p);\r\n  const accountNumber = acct;\r\n\r\n  // #region agent log\r\n  if (typeof fetch === 'function') {\r\n    fetch('http://127.0.0.1:7278/ingest/2c22404a-379e-4acd-837f-babf35680249',{method:'POST',headers:{'Content-Type':'application/json','X-Debug-Session-Id':'440105'},body:JSON.stringify({sessionId:'440105',runId:'currency-extract',hypothesisId:'H1',location:'parseRowResult.js:post-parse',message:'Parsed extraction with currency',data:{amount,currency,hasPayee:!!payee,hasAcct:!!accountNumber,hasIfsc:!!ifsc},timestamp:Date.now()})}).catch(()=>{});\r\n  }\r\n  // #endregion\r\n\r\n  const hallucinationReason = detectHallucination(payee, accountNumber, ifsc);\r\n  if (hallucinationReason) {\r\n    return buildResult({\r\n      payee,\r\n      accountNumber,\r\n      ifsc,\r\n      amount,\r\n      currency,\r\n      confidence,\r\n      status: 'Error: model returned unreliable extraction - ' + hallucinationReason,\r\n    });\r\n  }\r\n\r\n  if (!payee && !accountNumber && !ifsc && !amount) {\r\n    return buildResult({ confidence, status: 'Error: model returned empty extraction' });\r\n  }\r\n\r\n  const hasBankDetails = Boolean(accountNumber && ifsc) || Boolean(payee && (accountNumber || ifsc));\r\n  const amountOnly = amount && !payee && !accountNumber && !ifsc;\r\n\r\n  if (amountOnly || !hasBankDetails) {\r\n    return buildResult({\r\n      payee,\r\n      accountNumber,\r\n      ifsc,\r\n      amount,\r\n      currency,\r\n      confidence,\r\n      status: 'not_invoice: no bank payment details found',\r\n    });\r\n  }\r\n\r\n  return buildResult({ payee, accountNumber, ifsc, amount, currency, confidence, status: 'Done' });\r\n} catch (e) {\r\n  return buildResult({ status: 'Error: model response not parseable - ' + e.message });\r\n}\n"
      }
    },
    {
      "id": "67ae34f4-ea5c-4adb-a408-b5bfd55b5c44",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2240,
        96
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "d8feec41-bca5-4f51-87db-6187ede0cfee",
      "name": "OpenRouter Analyze Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        192
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst OPENROUTER_MODEL = 'google/gemini-2.5-flash';\r\n\r\nconst OPENROUTER_REQUEST_OPTIONS = {\r\n  model: OPENROUTER_MODEL,\r\n  max_tokens: 1024,\r\n  response_format: { type: 'json_object' },\r\n  // Disable reasoning for direct JSON extraction.\r\n  reasoning: { effort: 'none' },\r\n};\r\n\r\nconst EXTRACTION_PROMPT = `You are reading an invoice document. Extract ONLY these five fields and return valid JSON with no prose, no markdown, no code fences:\r\n\r\n{\"payee\":\"string\",\"account_number\":\"string\",\"ifsc\":\"string\",\"amount\":\"string\",\"currency\":\"string\",\"confidence\":0.0}\r\n\r\nRules:\r\n- payee: the account payee or beneficiary name exactly as printed on THIS invoice\r\n- account_number: digits only, no spaces or dashes — copy exactly from the document\r\n- ifsc: exactly 11 characters, uppercase, copied from the document (format: 4 letters + 0 + 6 alphanumeric)\r\n- amount: invoice total or grand total numeric value only (digits and decimal point, no currency symbols or commas)\r\n- currency: the invoice currency exactly as shown — ISO code when printed (USD, INR, EUR) or symbol ($, ₹, €). Examples: \"USD\", \"INR\", \"$\", \"₹\"\r\n- confidence: 0.0 to 1.0 — use 0.0 if you cannot read the document clearly\r\n- If a field is missing or unreadable, use \"\" and set confidence below 0.5\r\n- NEVER invent, guess, or reuse placeholder values — only copy text visible on the invoice`;\r\n\r\nconst row = $('Restore Row After Download').item.json;\r\n\r\nfunction checksumHex(buffer) {\r\n  let hash = 2166136261;\r\n  for (const byte of buffer) {\r\n    hash ^= byte;\r\n    hash = Math.imul(hash, 16777619);\r\n  }\r\n  return (hash >>> 0).toString(16);\r\n}\r\n\r\nfunction debugLog(hypothesisId, location, message, data) {\r\n  // #region agent log\r\n  if (typeof fetch === 'function') {\r\n    fetch('http://127.0.0.1:7278/ingest/2c22404a-379e-4acd-837f-babf35680249',{method:'POST',headers:{'Content-Type':'application/json','X-Debug-Session-Id':'86ecbf'},body:JSON.stringify({sessionId:'86ecbf',runId:'exec107-investigation',hypothesisId,location,message,data,timestamp:Date.now()})}).catch(()=>{});\r\n  }\r\n  // #endregion\r\n}\r\n\r\nif (row._downloadFailed) {\r\n  return { json: { error: row._status || 'Invoice file unavailable', _skipOpenRouter: true } };\r\n}\r\n\r\nif (row._officeDocText) {\r\n  const _openRouterBody = {\r\n    ...OPENROUTER_REQUEST_OPTIONS,\r\n    messages: [\r\n      {\r\n        role: 'user',\r\n        content:\r\n          EXTRACTION_PROMPT +\r\n          '\\n\\n--- Invoice document text ---\\n' +\r\n          row._officeDocText,\r\n      },\r\n    ],\r\n  };\r\n  return {\r\n    json: {\r\n      _openRouterBody,\r\n      _openRouterModel: OPENROUTER_MODEL,\r\n      _prepareMime: 'text/plain',\r\n      _prepareIdx: row._idx,\r\n      _prepareMode: 'text',\r\n    },\r\n  };\r\n}\r\n\r\nconst bin = $input.item.binary?.invoiceFile || $binary?.invoiceFile || null;\r\nif (!bin) {\r\n  return { json: { error: 'No invoice file binary found for OpenRouter analysis' } };\r\n}\r\n\r\nconst itemIndex = typeof $itemIndex === 'number' ? $itemIndex : 0;\r\nconst buffer = await this.helpers.getBinaryDataBuffer(itemIndex, 'invoiceFile');\r\nconst base64 = Buffer.from(buffer).toString('base64');\r\nconst fileChecksum = checksumHex(buffer);\r\n\r\nlet mime = row._geminiMimeType || row._mimeType || bin.mimeType || 'application/octet-stream';\r\n\r\nif (mime === 'application/octet-stream' && row._fileClass === 'image') {\r\n  mime = 'image/jpeg';\r\n}\r\n\r\nconst dataUrl = `data:${mime};base64,${base64}`;\r\n\r\ndebugLog('H1', 'prepareOpenRouterPayload.js:post-binary', 'Prepared binary for OpenRouter', {\r\n  idx: row._idx,\r\n  fileId: row._fileId || '',\r\n  fileName: row._fileName || bin.fileName || '',\r\n  convertedFromOffice: !!row._convertedFromOffice,\r\n  mime,\r\n  byteLength: buffer.length,\r\n  fileChecksum,\r\n});\r\n\r\nfunction buildVisionContent(prompt) {\r\n  if (mime === 'application/pdf') {\r\n    return [\r\n      {\r\n        type: 'file',\r\n        file: {\r\n          filename: row._fileName || bin.fileName || 'invoice.pdf',\r\n          file_data: dataUrl,\r\n        },\r\n      },\r\n      { type: 'text', text: prompt },\r\n    ];\r\n  }\r\n\r\n  return [\r\n    {\r\n      type: 'image_url',\r\n      image_url: { url: dataUrl },\r\n    },\r\n    { type: 'text', text: prompt },\r\n  ];\r\n}\r\n\r\nconst _openRouterBody = {\r\n  ...OPENROUTER_REQUEST_OPTIONS,\r\n  messages: [\r\n    {\r\n      role: 'user',\r\n      content: buildVisionContent(EXTRACTION_PROMPT),\r\n    },\r\n  ],\r\n};\r\n\r\ndebugLog('H2', 'prepareOpenRouterPayload.js:payload-shape', 'Built OpenRouter request payload', {\r\n  idx: row._idx,\r\n  mode: 'vision',\r\n  mime,\r\n  contentType: mime === 'application/pdf' ? 'file+text' : 'image_url+text',\r\n  fileChecksum,\r\n});\r\n\r\nreturn {\r\n  json: {\r\n    _openRouterBody,\r\n    _openRouterModel: OPENROUTER_MODEL,\r\n    _prepareMime: mime,\r\n    _prepareIdx: row._idx,\r\n    _prepareMode: 'vision',\r\n    _prepareFileId: row._fileId || '',\r\n    _prepareByteLength: buffer.length,\r\n    _prepareFileChecksum: fileChecksum,\r\n  },\r\n};\n"
      },
      "credentials": {}
    },
    {
      "id": "62691daa-ec82-4a5a-97c7-63b14c0b2d49",
      "name": "Parse Document Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        192
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst IFSC_REGEX = /^[A-Z]{4}0[A-Z0-9]{6}$/;\n\nfunction extractRawModelText(data) {\n  if (!data) return '';\n  if (typeof data.text === 'string') return data.text;\n  if (typeof data.output === 'string') return data.output;\n  if (typeof data.content === 'string') return data.content;\n  const openAiContent = data.choices?.[0]?.message?.content;\n  if (typeof openAiContent === 'string') return openAiContent;\n  if (Array.isArray(openAiContent)) {\n    return openAiContent\n      .filter((part) => part?.type === 'text' && typeof part.text === 'string')\n      .map((part) => part.text)\n      .join('');\n  }\n  const openAiText = data.choices?.[0]?.text;\n  if (typeof openAiText === 'string') return openAiText;\n  const messageContent = data.message?.content;\n  if (typeof messageContent === 'string') return messageContent;\n  const partText = data.content?.parts?.[0]?.text;\n  if (typeof partText === 'string') return partText;\n  return '';\n}\n\nfunction normalizeAmount(val) {\n  const s = String(val ?? '').trim();\n  if (!s) return '';\n  return s.replace(/[^\\d.]/g, '');\n}\n\nfunction normalizeCurrency(val) {\n  const s = String(val ?? '').trim();\n  if (!s) return '';\n  if (/^[A-Za-z]{3}$/.test(s)) return s.toUpperCase();\n  return s;\n}\n\nfunction normalizeConfidence(raw, payee, acct, ifsc, amount) {\n  if (typeof raw === 'number' && raw > 0) return Math.min(1, raw);\n  const filled = [payee, acct, ifsc, amount].filter(Boolean).length;\n  if (filled === 0) return 0;\n  return Math.min(0.95, 0.45 + filled * 0.12);\n}\n\nfunction normalizeExtractionFields(p) {\n  return {\n    payee: String(p.payee ?? p.account_name ?? p.beneficiary ?? p.account_payee ?? '').trim(),\n    account_number: String(\n      p.account_number ??\n        p.accountNumber ??\n        p.bank_number ??\n        p.bank_account_number ??\n        p.bank_account ??\n        ''\n    ).replace(/\\D/g, ''),\n    ifsc: String(p.ifsc ?? p.IFSC ?? p.ifsc_code ?? '').toUpperCase().trim(),\n    amount: normalizeAmount(\n      p.amount ?? p.total ?? p.total_amount ?? p.invoice_amount ?? p.invoice_total\n    ),\n    currency: normalizeCurrency(\n      p.currency ?? p.currency_code ?? p.currencyCode ?? p.invoice_currency\n    ),\n    confidence: typeof p.confidence === 'number' ? p.confidence : 0,\n  };\n}\n\nfunction hasExtractionFields(data) {\n  if (!data || typeof data !== 'object') return false;\n  return (\n    data.payee !== undefined ||\n    data.account_name !== undefined ||\n    data.beneficiary !== undefined ||\n    data.account_number !== undefined ||\n    data.accountNumber !== undefined ||\n    data.bank_account_number !== undefined ||\n    data.ifsc !== undefined ||\n    data.IFSC !== undefined ||\n    data.amount !== undefined ||\n    data.total !== undefined ||\n    data.currency !== undefined ||\n    data.currency_code !== undefined\n  );\n}\n\nfunction parseExtractionPayload(data) {\n  if (hasExtractionFields(data)) {\n    return normalizeExtractionFields(data);\n  }\n  const raw = extractRawModelText(data);\n  if (!raw) return null;\n  const cleaned = raw.replace(/```json?\\n?/gi, '').replace(/```/g, '').trim();\n  try {\n    return normalizeExtractionFields(JSON.parse(cleaned));\n  } catch (_) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return null;\n    return normalizeExtractionFields(JSON.parse(match[0]));\n  }\n}\n\nfunction detectHallucination(payee, acct, ifsc) {\n  if (acct.length >= 10 && /^(\\d)\\1+$/.test(acct)) return 'repeated-digit account number';\n  if (ifsc && !IFSC_REGEX.test(ifsc)) return 'invalid IFSC format';\n  return '';\n}\n\nfunction finalizeExtraction(p) {\n  const payee = p.payee;\n  const acct = p.account_number;\n  const ifsc = p.ifsc;\n  const amount = p.amount;\n  const currency = p.currency;\n  const confidence = normalizeConfidence(p.confidence, payee, acct, ifsc, amount);\n  return { payee, acct, ifsc, amount, currency, confidence };\n}\n\nconst row = $('Restore Row After Download').item.json;\r\n\r\nfunction buildResult({ payee = '', accountNumber = '', ifsc = '', amount = '', currency = '', confidence = 0, status }) {\r\n  return { json: { payee, accountNumber, ifsc, amount, currency, confidence, status } };\r\n}\r\n\r\nif (row._downloadFailed) {\r\n  return buildResult({ status: row._status || 'Error: download failed' });\r\n}\r\n\r\nfunction formatError(err) {\r\n  if (err == null || err === '') return 'unknown error';\r\n  if (typeof err === 'string') return err;\r\n  return err.message || JSON.stringify(err);\r\n}\r\n\r\nfunction formatOpenRouterHttpError(err) {\r\n  const msg = formatError(err);\r\n  if (/too many requests|429|rate limit/i.test(msg)) {\r\n    return 'OpenRouter rate limit (429) — wait and retry, or switch off the free-tier model';\r\n  }\r\n  return msg;\r\n}\r\n\r\nfunction getPrepareError() {\r\n  const analyzeNode =\r\n    row._fileClass === 'image' ? 'OpenRouter Analyze Image' : 'OpenRouter Analyze Document';\r\n  try {\r\n    const prep = $(analyzeNode).item?.json;\r\n    if (prep?.error) return formatError(prep.error);\r\n  } catch (_) {}\r\n  return '';\r\n}\r\n\r\nconst prepareError = getPrepareError();\r\nif (prepareError) {\r\n  return buildResult({ status: 'Error: extraction analyze failed - ' + prepareError });\r\n}\r\n\r\nif ($json.error) {\r\n  return buildResult({ status: 'Error: extraction failed - ' + formatOpenRouterHttpError($json.error) });\r\n}\r\n\r\ntry {\r\n  const p = parseExtractionPayload($json);\r\n  if (!p) {\r\n    return buildResult({ status: 'Error: model returned empty extraction' });\r\n  }\r\n\r\n  if (p.error) {\r\n    return buildResult({ status: 'Error: extraction analyze failed - ' + p.error });\r\n  }\r\n\r\n  const { payee, acct, ifsc, amount, currency, confidence } = finalizeExtraction(p);\r\n  const accountNumber = acct;\r\n\r\n  // #region agent log\r\n  if (typeof fetch === 'function') {\r\n    fetch('http://127.0.0.1:7278/ingest/2c22404a-379e-4acd-837f-babf35680249',{method:'POST',headers:{'Content-Type':'application/json','X-Debug-Session-Id':'440105'},body:JSON.stringify({sessionId:'440105',runId:'currency-extract',hypothesisId:'H1',location:'parseRowResult.js:post-parse',message:'Parsed extraction with currency',data:{amount,currency,hasPayee:!!payee,hasAcct:!!accountNumber,hasIfsc:!!ifsc},timestamp:Date.now()})}).catch(()=>{});\r\n  }\r\n  // #endregion\r\n\r\n  const hallucinationReason = detectHallucination(payee, accountNumber, ifsc);\r\n  if (hallucinationReason) {\r\n    return buildResult({\r\n      payee,\r\n      accountNumber,\r\n      ifsc,\r\n      amount,\r\n      currency,\r\n      confidence,\r\n      status: 'Error: model returned unreliable extraction - ' + hallucinationReason,\r\n    });\r\n  }\r\n\r\n  if (!payee && !accountNumber && !ifsc && !amount) {\r\n    return buildResult({ confidence, status: 'Error: model returned empty extraction' });\r\n  }\r\n\r\n  const hasBankDetails = Boolean(accountNumber && ifsc) || Boolean(payee && (accountNumber || ifsc));\r\n  const amountOnly = amount && !payee && !accountNumber && !ifsc;\r\n\r\n  if (amountOnly || !hasBankDetails) {\r\n    return buildResult({\r\n      payee,\r\n      accountNumber,\r\n      ifsc,\r\n      amount,\r\n      currency,\r\n      confidence,\r\n      status: 'not_invoice: no bank payment details found',\r\n    });\r\n  }\r\n\r\n  return buildResult({ payee, accountNumber, ifsc, amount, currency, confidence, status: 'Done' });\r\n} catch (e) {\r\n  return buildResult({ status: 'Error: model response not parseable - ' + e.message });\r\n}\n"
      }
    },
    {
      "id": "c82ec74a-a57d-4a07-9f6e-9ddb81e0ecf2",
      "name": "Respond Unsupported",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        288
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ payee: \"\", accountNumber: \"\", ifsc: \"\", amount: \"\", currency: \"\", confidence: 0, status: $json._status || \"unsupported\" }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "9046e00e-9bbc-4261-92c1-0e362debf64d",
      "name": "Respond With Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2464,
        96
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-openrouter-http-image-0001",
      "name": "OpenRouter HTTP Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://ledgerlens.app"
            },
            {
              "name": "X-Title",
              "value": "LedgerLens Invoice Extraction"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._openRouterBody ? JSON.stringify($json._openRouterBody) : JSON.stringify({ error: $json.error || \"Missing OpenRouter request body\" }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "bDCaYQ5pU52IShxl",
          "name": "OpenRouter account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 15000
    },
    {
      "id": "a1b2c3d4-openrouter-http-doc-0001",
      "name": "OpenRouter HTTP Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        192
      ],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://ledgerlens.app"
            },
            {
              "name": "X-Title",
              "value": "LedgerLens Invoice Extraction"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._openRouterBody ? JSON.stringify($json._openRouterBody) : JSON.stringify({ error: $json.error || \"Missing OpenRouter request body\" }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "bDCaYQ5pU52IShxl",
          "name": "OpenRouter account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 15000
    }
  ],
  "connections": {
    "Receive Row Re-run": {
      "main": [
        [
          {
            "node": "Parse Request Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request Body": {
      "main": [
        [
          {
            "node": "Get Drive Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Drive Metadata": {
      "main": [
        [
          {
            "node": "Classify MimeType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify MimeType": {
      "main": [
        [
          {
            "node": "Is Extractable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Extractable?": {
      "main": [
        [
          {
            "node": "Download Invoice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unsupported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Invoice File": {
      "main": [
        [
          {
            "node": "Restore Row After Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Row After Download": {
      "main": [
        [
          {
            "node": "Is Image File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Image File?": {
      "main": [
        [
          {
            "node": "OpenRouter Analyze Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenRouter Analyze Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond With Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Document Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Analyze Image": {
      "main": [
        [
          {
            "node": "OpenRouter HTTP Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Analyze Document": {
      "main": [
        [
          {
            "node": "OpenRouter HTTP Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter HTTP Image": {
      "main": [
        [
          {
            "node": "Parse Image Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter HTTP Document": {
      "main": [
        [
          {
            "node": "Parse Document Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
